# blacklist

*

# whitelist

!readme.md

!assets
!assets/**
!resources
!resources/**
!libft
!libft/**
!src
!src/**
!inc
!inc/*.h
!scenes
!scenes/raw
!scenes/**/*.rt
!shaders
!shaders/*
!shaders/**/
!shaders/**/*.frag
!shaders/**/*.vert
!glad.tar
!Makefile
!.gitignore

#blacklist

inc/glad/
inc/KHR/
lib/
assets/textures/tmp/
*.o
*.a
inc/stb
.DS_Store
