# blacklist

*

# whitelist

!readme.md

!assets
!assets/**
!resources
!resources/**
!libft
!libft/**
!lib
!lib/**
!src
!src/**
!inc
!inc/**
!scenes
!scenes/raw
!scenes/**/*.rt
!shaders
!shaders/*
!shaders/**/
!shaders/**/*.frag
!shaders/**/*.vert
!Makefile
!.gitignore

#blacklist

*.o
*.a
inc/stb
.DS_Store
